$color_1: white;
$font-family_1: Helvetica, Arial, Sans-Serif;
$background-color_1: rgba(168, 165, 162, 0.5);
$background-color_2: rgba(213, 60, 60, 0.5);
$background-color_3: rgba(238, 134, 54, 0.5);


.parent {
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}
body {
	color: $color_1;
	font-size: 6em;
	font-family: $font-family_1;
    background: url(./img/blur-clean.jpg) no-repeat center center/cover fixed;
}
div {
	text-align: center;
	height: 300px;
	position: relative;
	top: -300px;
}
.div1 {
	grid-area: 2 / 2 / 3 / 3;
	background-color: $background-color_1;
	animation: slovoC 2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
}
.div2 {
	grid-area: 2 / 3 / 3 / 4;
	background-color: $background-color_2;
	animation: slovoS 2s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}
.div3 {
	grid-area: 2 / 4 / 3 / 5;
	background-color: $background-color_3;
	animation: slovoS2 0.1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-delay: 5s;
}

@keyframes slovoC {
	from {
		top: -300px;
	}
	to {
		top: 600px;
	}
}
@keyframes slovoS {
	from {
		top: -300px;
	}
	to {
		top: 600px;
	}
}
@keyframes slovoS2 {
	from {
		top: 600px;
		background-color: rgba(238, 134, 54, 0.5);;
	}
	to {
		top: 600px;
		background-color: rgba(238, 134, 54, 0.5);
	}
}
